{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create a Gallery{% endblock %}

{% block content %}
    {% if loggedIn == False %}
    <div class = "loginReqMsg">
        <p class = "mainMessage">You must be logged in to access this page!</p>
        <div class = "loginLinks">
            Log in <a href = "{{ url_for('login') }}">here</a><br>
            Don't have an account? Register <a href = "{{ url_for('register') }}">here</a>
        </div>
    </div>
    {% else %}
    <div class = "pageTitle">
        Create a Gallery
    </div>
    <form id = "addGalleryForm" method = "post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{form.title.label}} {{form.title}}
        {% if form.title.errors %}
                <div class="addToGalleryErrors">{% for error in form.title.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
        <br>
        {{form.description.label}} {{form.description}}
        {% if form.description.errors %}
                <div class="addToGalleryErrors">{% for error in form.description.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
        <br>
        {{form.photos.label}} {{form.photos}}
        {% if form.photos.errors %}
                <div class="addToGalleryErrors">{% for error in form.photos.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
        <div id = "addPhotosError"></div>
        <div id = "photosToAddPreview"></div>
        <br>
        {{form.submit}}
    </form>
    <div id = "test"></div>

    <div id = galleryPreview>
        {% set dateCreated = currentDate %}
        {% set dateLastEdited = currentDate %}
        <div class = "pageTitle" >Gallery Preview<br></div>
        <div class = "images">
            <img src = "{{ url_for('static', filename = 'leftArrow.png') }}" class = "leftArrow" onclick = "nextPhoto(-1)">
            <img id = "photo">
            <img src = "{{ url_for('static', filename = 'rightArrow.png') }}" class = "rightArrow" onclick = "nextPhoto(1)">
        </div>
        <div class = "galleryDetails">
            <div class = "galleryDates">
                Date Created: {{dateCreated.strftime('%d-%m-%Y')}}<br>
                Date Last Edited: {{dateLastEdited.strftime('%d-%m-%Y')}}
            </div> 
            <div class = "galleryUser">{{username}}</div>
            <div class = "galleryDescription">
                {{description}}
            </div>
        </div>
    </div>

    <script>
        currentFiles = []
        imgIDs = 0
        document.getElementById('photos').addEventListener('change', function(event) {
            files = document.getElementById("photos").files
            test =  document.getElementById("test")
            photoPreview = document.getElementById("photosToAddPreview")
            for (let i = 0; i < files.length; i++){
                file = files[i]

                if (file.type.startsWith('image/')) {
                    reader = new FileReader()
                    
                    reader.onload = function(e) {
                        if (currentFiles.length < 10){
                            document.getElementById("addPhotosError").innerHTML = ""
                            currentFiles.push({'filename': file.name, 'data': e.target.result})
                            div = document.createElement("div")
                            div.className = "photoPreviewGridItem"
                            div.id = imgIDs.toString()
                            img = document.createElement("img")
                            img.className = "addToGalleryPhoto"
                            img.src = e.target.result
                            cross = document.createElement("img")
                            cross.src = "{{ url_for('static', filename = 'delete.png') }}"
                            cross.className = "deletePhotoButton"
                            cross.id = "cross" + imgIDs
                            cross.addEventListener("click", function(){ deleteImage(this.id)})
                            div.appendChild(img)
                            div.appendChild(cross)
                            photoPreview.appendChild(div)
                            imgIDs ++;
                        }
                        else{
                            document.getElementById("addPhotosError").innerHTML = "10 photos max!"
                        }
                    }
                }

                    reader.readAsDataURL(file);
            }
        })

        function deleteImage(id){
            id = id.substring(5)
            div = document.getElementById(id)
            if (div){
                div.remove()
            }
        }
    </script>
    {% endif %}
{% endblock %}