{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create a Gallery{% endblock %}

{% block content %}
    {% if loggedIn == False %}
    <div class = "loginReqMsg">
        <p class = "mainMessage">You must be logged in to access this page!</p>
        <div class = "loginLinks">
            Log in <a href = "{{ url_for('login') }}">here</a><br>
            Don't have an account? Register <a href = "{{ url_for('register') }}">here</a>
        </div>
    </div>
    {% else %}
    <div class = "pageTitle">
        Create a Gallery
    </div>
    <form id = "addGalleryForm" method = "post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{form.title.label}} {{form.title}}
        {% if form.title.errors %}
                <div class="addToGalleryErrors">{% for error in form.title.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
        <br>
        {{form.description.label}} {{form.description}}
        {% if form.description.errors %}
                <div class="addToGalleryErrors">{% for error in form.description.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
        <br>
        {{form.photos.label}} {{form.photos}}
        {% if form.photos.errors %}
                <div class="addToGalleryErrors">{% for error in form.photos.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
        <br>
        {{form.submit}}
    </div>
    {% endif %}
{% endblock %}