{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create a Gallery{% endblock %}

{% block content %}
    <div class = "pageTitle">
        Create a Gallery
    </div>
    <form id = "addGalleryForm" method = "post" enctype="multipart/form-data">
        {{ form.csrf_token }}{{form.photos}}
        {{form.title.label}} {{form.title}}
        {% if form.title.errors %}
                <div class="addToGalleryErrors" id = "titleErrors">{% for error in form.title.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
        <br>
        {{form.description.label}} {{form.description}}
        {% if form.description.errors %}
                <div class="addToGalleryErrors" id = "descErrors">{% for error in form.description.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
        <br>
        <b>Ad up to 10 photos to your galllery</b> {{form.addPhoto}}
        {% if form.addPhoto.errors %}
                <div class="addToGalleryErrors">{% for error in form.addPhoto.errors %}{{ error }}{% endfor %}</div>
        {% endif %}
        <div id = "addPhotosError"></div>
        <div id = "photosToAddPreview"></div>
        <br>
        {{form.submit(value = "Create Gallery")}}
    </form>

    <div id = "galleryPreview">
        {% set dateCreated = currentDate %}
        {% set dateLastEdited = currentDate %}
        <div class = "pageTitle" >Gallery Preview<br></div>
        <div class = "pageTitle" id = "previewGallTitle"></div>
        <div class = "images">
            <img src = "{{ url_for('static', filename = 'leftArrow.png') }}" class = "leftArrow" onclick = "nextPhoto(-1)">
            <img id = "previewPhoto" class = "galleryPhoto">
            <img src = "{{ url_for('static', filename = 'rightArrow.png') }}" class = "rightArrow" onclick = "nextPhoto(1)">
        </div>
        <div class = "galleryDetails">
            <div class = "galleryDates">
                Date Created: {{dateCreated.strftime('%d/%m/%Y')}}<br>
                Date Last Edited: {{dateLastEdited.strftime('%d/%m/%Y')}}
            </div> 
            <div class = "galleryUser">{{username}}</div>
            <div class = "galleryDescription" id = "previewDesc">
                {{description}}
            </div>
        </div>
    </div>

    <script>
        //deletes an image from all parts of the gallery
        function deleteImage(id){
            //deletes image preview in form
            id = id.substring(5)
            div = document.getElementById(id)
            if (div){
                div.remove()
            }

            img = document.getElementById("editPreviewPhoto")
            for(let i=0; i<currentFiles.length; i++){
                item = currentFiles[i]
                if( item.id == id){
                    //deletes from current files
                    currentFiles.splice(i,1)
                    //moves onto next photo in gallery preview if necessary
                    nextPhoto(0)
                }
            }        
        }

        //changes photo in gallery preview
        function nextPhoto(change){
            numPhotos = currentFiles.length
            if (numPhotos > 1){
                //finds location of next photo
                currentPhoto = (currentPhoto + change + numPhotos) % numPhotos
                img = document.getElementById("previewPhoto")
                //changes photo
                img.src = currentFiles[currentPhoto].data
            }
        }

        //sets intial values
        currentFiles = []
        imgIDs = 0
        currentPhoto = 0

        //run everytime a new file(s) is uploaded
        document.getElementById('addPhoto').addEventListener('change', function(event) {
            //creates list of all files that have been uploaded
            filenames = []
            files = document.getElementById("addPhoto").files
            for (let i = 0; i < files.length; i++){
                file = files[i]
                filenames.push(file.name)
            }
            photoPreview = document.getElementById("photosToAddPreview")
            fileNum = 0
            let firstPhotos = false
            if (currentFiles.length == 0){
                firstPhotos = true
            }
            //iterates through eahc file to be uploaded
            for (let i = 0; i < files.length; i++){
                file = files[i]

                //checks that file is an imag
                if (file.type.startsWith('image/')) {
                    reader = new FileReader()
                    
                    //reads data from image
                    reader.onload = function(e) {
                        if (currentFiles.length < 10){
                            document.getElementById("addPhotosError").innerHTML = ""
                            //adds to currentFiles
                            currentFiles.push({'filename': filenames[fileNum], 'data': e.target.result, 'id': imgIDs})
                            //adds thumbnail in form
                            div = document.createElement("div")
                            div.className = "photoPreviewGridItem"
                            div.id = imgIDs.toString()
                            img = document.createElement("img")
                            img.className = "addToGalleryPhoto"
                            img.src = e.target.result
                            cross = document.createElement("img")
                            cross.src = "{{ url_for('static', filename = 'delete.png') }}"
                            cross.className = "deletePhotoButton"
                            cross.id = "cross" + imgIDs
                            cross.addEventListener("click", function(){ deleteImage(this.id)})
                            div.appendChild(img)
                            div.appendChild(cross)
                            photoPreview.appendChild(div)
                            imgIDs ++;
                            fileNum ++;

                            if ((firstPhotos == true) && (currentFiles.length != 0)){
                                img = document.getElementById("previewPhoto")
                                img.src = currentFiles[0].data
                                firstPhotos = false
                            }
                        }
                        else{
                            document.getElementById("addPhotosError").innerHTML = "10 photos max!"
                        }
                    }
                    reader.readAsDataURL(file)
                }
                else{
                    //adds error if necessary
                    document.getElementById("addPhotosError").innerHTML = "Images only!"
                }    
            }
        })

        //runs whenever title is changed
        //updates title in gallery preview
        document.getElementById("title").addEventListener('change', function(event){
            let currentTitle = document.getElementById("title").value
            document.getElementById("previewGallTitle").innerHTML = currentTitle
        })

        //runs whenever description is changed
        //updates description in gallery preview
        document.getElementById("description").addEventListener('change', function(event){
            let currentDesc = document.getElementById("description").value
            document.getElementById("previewDesc").innerHTML = currentDesc
        })

        //runs whenever form is submitted
        document.getElementById('addGalleryForm').addEventListener('submit', function(event) {
            //checks there are no errors in for
            //if error then form isnt submitted
            if(document.getElementById('title').value.length == 0){
                document.getElementById("titleErrors").innerHTML = "Please fill in this field"
                event.preventDefault()
            }
            else if(document.getElementById('description').value.length == 0){
                document.getElementById("descErrors").innerHTML = "Please fill in this field"
                event.preventDefault()
            }
            else if (currentFiles.length == 0){
                document.getElementById("addPhotosError").innerHTML = "Add at least 1 photo to create a gallery!"
                event.preventDefault()
            }
            else{
                //adds currentFiles to hidden form to send back to server
                document.getElementById("photos").value = JSON.stringify(currentFiles)
            }
        })

        
    </script>
{% endblock %}