{% extends "base.html" %}

{% block title %}Gallery Home{% endblock %}

{% block content %}
    <div class = "pageTitle">
        Our Galleries
    </div>
    {% for gallery in galleries %}
        <div class = "galleryPreview">
            {% set numPhotos = gallery.numPhotos %}
            {% set photos = gallery.photos %}
            <div class = "photosPreview2x2">
                {% for i in range(4) %}
                    <div class = "thumbnailPhoto">
                        {% set photoURL = photos[i % numPhotos].thumbnailURL %}
                        <img src = "{{photoURL}}">
                    </div>
                {% endfor %}
            </div>

        </div>
    {% endfor %}
{% endblock %}