{% extends "base.html" %}

{% block title %}Gallery Home{% endblock %}

{% block content %}
    <div class = "pageTitle">
        Our Galleries
    </div>
    <div id = "galleries">
    {% for key in galleries %}
        {% set gallery = galleries[key] %}
        {% set numPhotos = gallery['numPhotos'] %}
        {% set photosList = gallery['photos'] %}
        <div class = "galleryPreview">
            <div class = "photosPreview">
                {% for i in range(4) %}
                    <div class = "thumbnailPhoto">
                        {% set photoURL = photos[photosList[(i%numPhotos)]]['thumbnailURL'] %}
                        <img src="{{photoURL}}">
                    </div>
                {% endfor %}
            </div>
            <div class = "galleryTitle">{{gallery.title}}</div>
            <div class = "galleryUser"></div>
        </div>
    {% endfor %}
    </div>
{% endblock %}