{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class = "pageTitle">
        {{title}}
    </div>
    <div id = "indvGallery">
        <div class = "images">
            <img src = "{{ url_for('static', filename = 'leftArrow.png') }}" class = "leftArrow" onclick = "nextPhoto(-1)">
            <img src = "{{URLs[0]}}" id = "photo" class = "galleryPhoto">
            <img src = "{{ url_for('static', filename = 'rightArrow.png') }}" class = "rightArrow" onclick = "nextPhoto(1)">
        </div>
        <div class = "galleryDetails">
            <div class = "galleryDates">
                Date Created: {{dateCreated.strftime('%d-%m-%Y')}}<br>
                Date Last Edited: {{dateLastEdited.strftime('%d-%m-%Y')}}
            </div> 
            <div class = "galleryUser">{{galleryUsername}}</div>
            <div class = "galleryDescription">
                {{description}}
            </div>
        </div>
    </div>

    <script>
        photoNum = 0
        console.log("{{URLs}}")
        photos = JSON.parse('{{URLs | tojson | safe}}')
        numPhotos = parseInt("{{numPhotos}}")

        function nextPhoto(change){
            console.log("Changing photo")
            photoNum = (photoNum + change + numPhotos) % numPhotos
            console.log(photoNum)
            key = photoNum.toString()
            console.log(key)
            console.log(photos[key])
            document.getElementById("photo").src = photos[key]
        }

        console.log(photoNum)
        console.log(photos)
    </script>
{% endblock %}