{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class = "pageTitle">
        Login
    </div>
    <div id = "loginFailed">
        {% if loginAttempted == True %}
            Email or password incorrect. <br>
            Please try again
        {% endif %}
    </div>
    <div id = "loginForm">
        {{wtf.quick_form(form)}}
    </div>
    <div id = "registerLink">
        Don't have an account? Register <a href = "{{ url_for('register') }}">here</a>
    </div>
{% endblock %}