{% extends "base.html" %}

{% block title %}My Galleries{% endblock %}

{% block content %}
    <div id = "galleries">
        {% for gallery in galleries %}
            {% set numPhotos = gallery['numPhotos'] %}
            {% set photosList = gallery['photos'] %}
            <div class = "galleryPreview">
                <a href = "{{ url_for('viewGallery', galleryID = gallery['id'])}}">
                    <div class = "photosPreview">
                        {% for i in range(4) %}
                            <div class = "thumbnailPhoto">
                                {% set photoURL = photosList[(i%numPhotos)]['thumbnailURL'] %}
                                <img src="{{photoURL}}">
                            </div>
                        {% endfor %}
                    </div>
                    <div class = "previewDetails">
                        <div class = "previewTitleDate">{{gallery['title']}}</div>
                        <div class = "previewUser">{{users[gallery['userId']]['username']}}</div>
                    </div>
                </a>
                <div class = "editSection">
                    <div class = "editButton" id = "{{gallery['id']}}"><a href = "{{ url_for('editGallery', galleryID = gallery['id'])}}" >Edit Gallery</a></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}