{% extends "base.html" %}

{% block title %}My Galleries{% endblock %}

{% block content %}
    {% if loggedIn == False %}
        <div class = "loginReqMsg">
            <p class = "mainMessage">You must be logged in to access this page!</p>
            <div class = "loginLinks">
                Log in <a href = "{{ url_for('login') }}">here</a><br>
                Don't have an account? Register <a href = "{{ url_for('register') }}">here</a>
            </div>
        </div>
    {% else %}
    <div id = "galleries">
        {% for gallery in galleries %}
            {% set numPhotos = gallery['numPhotos'] %}
            {% set photosList = gallery['photos'] %}
            <div class = "galleryPreview">
                <a href = "{{ url_for('viewGallery', galleryID = gallery['id'])}}">
                    <div class = "photosPreview">
                        {% for i in range(4) %}
                            <div class = "thumbnailPhoto">
                                {% set photoURL = photosList[(i%numPhotos)]['thumbnailURL'] %}
                                <img src="{{photoURL}}">
                            </div>
                        {% endfor %}
                    </div>
                    <div class = "previewDetails">
                        <div class = "previewTitle">{{gallery['title']}}</div>
                        <div class = "previewUser">{{users[gallery['userId']]['username']}}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}