{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create a Gallery{% endblock %}

{% block content %}
    {% if loggedIn == False %}
        <div class = "loginReqMsg">
            <p class = "mainMessage">You must be logged in to access this page!</p>
            <div class = "loginLinks">
                Log in <a href = "{{ url_for('login') }}">here</a><br>
                Don't have an account? Register <a href = "{{ url_for('register') }}">here</a>
            </div>
        </div>
    {% else %}
        <div class = "pageTitle">
            Account Settings
        </div>
        <div id = "settingsInstructions">
            Fill in any fields for data you wish to update:
        </div>
        <div id = "settingsForm">
            {{wtf.quick_form(form)}}
        </div>
    {% endif %}
{% endblock %}